<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>GBU Academic Server!</h1>
    <p>SOICT - 
        <button onclick="location.href='http://localhost:3000/viewsubjects/cse'"><%= cseServer %></button>
        <button onclick="location.href='http://localhost:3000/viewsubjects/it'"><%= itServer %></button>
        <button onclick="location.href='http://localhost:3000/viewsubjects/ece'"><%= eceServer %></button>
    </p>
</body>
</html>